<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id="bomb-button">
        <button @click="bombClick" style="width: 25px; height: 25px;">{{ bombvalue }}</button>
    </div>
        
    <script>
        var bombButton = new Vue({
            el: '#bomb-button',
            data: {
                bombvalue: '-',
                hidevalue: '*' //*,-
            },
            methods:{
                bombClick: function () {
                    if(this.hidevalue == '-') return;
                    this.bombvalue = this.hidevalue;
                }
            },
            computed:{

            }
        });
    </script>
</body>
</html>